body {
  font-family: helvetica;
}

.title {
  color: salmon;
  font-size: 50px;
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

.column {
  width: 20%;
  float: left;
  margin: 10px 50px;
  padding: 10px;
}

.column p {
  font-style: italic;
  text-align: left;
}

img {
  width: 320px;
  height: 240px;
  padding: 5px;
  border: 5px solid teal;
}

.footer {
  background-color: salmon;
}
